<div class="form-container">
  <h3>{{ isEditMode() ? 'Edytuj Artykuł' : 'Nowy Artykuł' }}</h3>

  <label>Nazwa: 
    <input [(ngModel)]="newArticle.name" placeholder="Nazwa produktu">
  </label>
  
  <label>Cena: 
    <input type="number" [(ngModel)]="newArticle.price">
  </label>

  <label>Kategoria:
    <select [(ngModel)]="newArticle.categoryId">
      <option [ngValue]="null" disabled>-- Wybierz kategorię --</option>
      
      @for (cat of categories(); track cat.id) {
        <option [ngValue]="cat.id">{{ cat.name }}</option>
      }
    </select>
  </label>

  @if (!newArticle.categoryId) {
    <p style="color: red; font-size: 12px;">Wybierz kategorię!</p>
  }

  <div class="actions">
    <button (click)="onSave()" [disabled]="!newArticle.name || !newArticle.categoryId">Zapisz</button>
    <button (click)="goBack()">Anuluj</button>
  </div>
</div> 