<!doctype html>
<div class="category-container">
  <h2>Zarządzanie Kategoriami</h2>

  <div class="form-box">
    <h3>{{ isEditing() ? 'Edytuj kategorię' : 'Nowa kategoria' }}</h3>
    <input
      type="text"
      [(ngModel)]="categoryName"
      placeholder="Nazwa kategorii"
      (keyup.enter)="saveCategory()"
    />
    <button (click)="saveCategory()">{{ isEditing() ? 'Zapisz' : 'Dodaj' }}</button>
    @if (isEditing()) {
      <button (click)="cancelEdit()">Anuluj</button>
    }
  </div>

  <ul class="category-list">
    @for (cat of categories(); track cat.id) {
      <li>
        <span
          >ID: {{ cat.id }} - <strong>{{ cat.name }}</strong></span
        >
        <div class="actions">
          <button (click)="startEdit(cat)">Edytuj</button>
          <button (click)="deleteCategory(cat.id)" class="btn-delete">Usuń</button>
        </div>
      </li>
    } @empty {
      <li>Brak kategorii w bazie.</li>
    }
  </ul>
</div>
