table {
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #444;
  padding: 6px 10px;
  text-align: center;
}

td.even {
  background-color: #d0f0d0;
}
td.odd {
  background-color: #f0d0d0;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

canvas.drawingX {
  display: block;
  border: 1px solid #000;
  margin: 20px auto;
  cursor: crosshair;
}
