<div class="list-container">
  
  <div class="list-header">
    <h2>Lista Artykułów</h2>
    <button class="btn-add" (click)="onAdd()">+ Dodaj Nowy</button>
  </div>

  <ul class="article-list">
    @for (article of articles(); track article.id) {
      <li class="article-item" (click)="goToDetails(article.id)">
        
        <div class="img-wrapper">
        @if (article.imageUrl) {
          <img [src]="fileUrl + article.imageUrl" [alt]="article.name" />
        } @else {
          <div class="no-image">Brak zdjęcia</div>
        }
      </div>

        <div class="info">
          <h3 class="article-name">{{ article.name }}</h3>
          <span class="article-price">{{ article.price }} PLN</span>
        </div>

        <div class="actions">
        <button (click)="onEdit(article.id); $event.stopPropagation()">Edytuj</button>
        <button (click)="onDelete(article.id); $event.stopPropagation()" class="btn-delete">
          Usuń
        </button>
      </div>

      </li>
    }
    
    @if (articles().length === 0) {
      <p class="empty-state">Brak artykułów w sklepie.</p>
    }
  </ul>
</div>