@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>My Canvases</h2>
<canvas id="myCanvas" width="400" height="200" position="relative" class="drawingX"></canvas>
<h4>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
    rerum corrupti quasi maiores voluptatibus, ut harum iste porro voluptate
    vitae veritatis iusto laboriosam repellat provident consequuntur nemo vel
    ipsa sed odio dolor error vero. Nisi labore similique debitis maxime
    numquam excepturi totam fugiat ullam, quasi quos. Repudiandae quisquam eos
    nisi sit suscipit voluptate culpa labore cumque, dolores sapiente nostrum
    soluta ducimus dolor iste harum ratione id in nemo adipisci placeat.
    Incidunt voluptate consectetur harum voluptates ut quisquam vitae nihil
    soluta. Illo totam aspernatur fugiat ea excepturi optio porro nulla ipsa,
    sequi ullam veniam repellendus omnis perspiciatis. Illum reprehenderit
    amet nostrum!
</h4>
<canvas id="mySecondCanvas" width="400" height="200" position="relative" class="drawingX"></canvas>
<canvas id="myThirdCanvas" width="400" height="200" position="relative" class="drawingX"></canvas>
<h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum non
    autem iure, molestias quas eos. Tempore veritatis dolor, commodi id nam
    praesentium rem consequuntur earum enim rerum? Sunt adipisci quaerat eum
    quia dolores laudantium repudiandae porro itaque ducimus! Nam amet porro
    excepturi dignissimos doloremque exercitationem, ad fuga temporibus
    laboriosam commodi. Quia minus temporibus rerum amet, totam saepe
    laudantium, quas earum quod velit ea. Maxime minima excepturi delectus
    nesciunt dignissimos! Dolorum, debitis distinctio? Fugit fuga nulla
    necessitatibus sit itaque quaerat est autem molestias repellendus vitae.
    Perspiciatis quia iste, expedita culpa earum odio est saepe ab ut facere
    tempore a sit optio?
</h4>
<script src="script.js"></script>