body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.px {
    font-size: 16px;
}

.em {
    font-size: 1.5em;
}

.pt {
    font-size: 14pt;
}

.percent {
    font-size: 160%;
}

.background-demo {
    background-color: #e9ecef;
}

.bg-example {
    height: 150px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.bg-example.repeat {
    background: url("image.png") repeat;
}

.bg-example.repeat-x {
    background: url("image.png") no-repeat right top;
}

.bg-example.no-repeat {
    background: url("image.png") no-repeat center top;
}

.bg-example.cover {
    background: url("image.png") no-repeat center center / cover;
}

.bg-example.limited {
    background: url("image.png") repeat-y;
    height: 50vh;

}

.selector-demo .important {
    font-size: 20px !important;
}

.selector-demo .outer p {
    color: orange;
}

.selector-demo p.important.hard {
    background-color: green;
}

.selector-demo .outer>p {
    color: blue;
}

.box-demo {
    width: 300px;
    height: 100px;
    margin: 80px;
    border-width: 3px;
    border-style: dashed;
    border-color: #333;
    padding: 15px;
    background-color: #f0a;
    color: #fff;
    position: relative;
}

.box-inner {
    background-color: #fa0;
    height: 100%;
}

.position-demo {
    position: relative;
    height: 200px;
    padding: 10px;
    margin-bottom: 30px;
}

.position-demo p {
    padding: 5px;
    margin: 5px;
    background-color: #721717;
}

.static {
    position: static;
}

.relative {
    position: relative;
    top: 3px;
    left: 10px;
    background-color: #aaf;
}

.absolute {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 60px;
    height: 80px;
    background-color: #faa;
}

.fixed {
    position: fixed;
    top: -20px;
    right: 30px;
    width: 400px;
    height: 100px;
    background-color: #afa;
}


/* Float */
.float-demo {
    border: 1px solid #333;
    padding: 10px;
    overflow: auto;
    /* clearfix */
}

.float-left {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #f66;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin-right: 10px;
}

.float-right {
    float: right;
    width: 100px;
    height: 100px;
    background-color: #66f;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}


.fontsize-px {
    font-size: 16px;
}

.fontsize-em {
    font-size: 1.5em;
}

.fontsize-pt {
    font-size: 14pt;
}

.lineheight-1 {
    line-height: 1;
}

.lineheight-4 {
    line-height: 4;
}

.letterspacing {
    letter-spacing: 2px;
}

.wordspacing {
    word-spacing: 10px;
}


.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 80%;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #333;
    text-align: left;
}

.simple-table th {
    background-color: #666;
    color: #fff;
}

.striped-table tr:nth-child(1n) {
    background-color: #9889df;
}

.striped-table th {
    background-color: #887c7c;
    color: #752020;
}

.bordered-table {
    border: 2px solid #0b5ed7;
    border-radius: 10px;
    overflow: hidden;
}

.bordered-table th {
    background-color: #0b5ed7;
    color: #fff;
}

.bordered-table td {
    background-color: #e7f1ff;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
}


input:focus {
    border: 2px solid #007bff;
    outline: none;
    background-color: #e8f0fe;
}

.lista li:nth-child(odd) {
    background-color: #d9ebff;
}

.lista li:nth-child(even) {
    background-color: #f0f0f0;
}

.intro::first-letter {
    font-size: 200%;
    color: #0b5ed7;
    font-weight: bold;
}

.note::after {
    content: "Koniec imprezy";
    color: green;
    font-weight: bold;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: max-content;
  border-radius: 8px;
  background-color: #0b5ed7;
}

nav > ul > li {
  position: relative;
}

nav > ul > li > a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav > ul > li > a:hover {
  background-color: #0844a4;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #0b5ed7;
  min-width: 250px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
}

nav ul ul a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  transition: background-color 0.2s ease;
}

nav ul ul a:hover {
  background-color: #1974f2;
}

nav ul li:hover > ul {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

