.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
    text-align: center;
    border-top: 5px solid #4CAF50;
}

.content {
    max-width: 800px;
    margin: 0 auto
}

p {
    margin: 5px 0;
}


